<assembly>
    <id>server-assembly</id>
    <formats>
        <format>jar</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>
    <dependencySets>
        <dependencySet>
            <outputDirectory>/</outputDirectory>
            <useProjectArtifact>false</useProjectArtifact>
            <unpack>true</unpack>
            <scope>runtime</scope>
        </dependencySet>
    </dependencySets>
    <fileSets>
        <fileSet>
            <directory>${project.build.outputDirectory}</directory>
            <outputDirectory>./</outputDirectory>
            <includes>
                <include>it/polimi/ingsw/controller/Client*</include>
                <include>it/polimi/ingsw/controller/ClientConnHandler*</include>
                <include>it/polimi/ingsw/controller/Configuration*</include>
                <include>it/polimi/ingsw/controller/Connection*</include>
                <include>it/polimi/ingsw/controller/ConnectionThreadHandler*</include>
                <include>it/polimi/ingsw/controller/GamePhase*</include>
                <include>it/polimi/ingsw/controller/Interaction*</include>
                <include>it/polimi/ingsw/controller/Match*</include>
                <include>it/polimi/ingsw/controller/Payload*</include>
                <include>it/polimi/ingsw/controller/RMIConn*</include>
                <include>it/polimi/ingsw/controller/RMIConnHandler*</include>
                <include>it/polimi/ingsw/controller/RMIServer*</include>
                <include>it/polimi/ingsw/controller/Server*</include>
                <include>it/polimi/ingsw/controller/SMain*</include>
                <include>it/polimi/ingsw/controller/SocketConn*</include>
                <include>it/polimi/ingsw/controller/SocketServer*</include>
                <include>it/polimi/ingsw/controller/Timeout*</include>

                <include>it/polimi/ingsw/model/*</include>
                <include>it/polimi/ingsw/clientmodel/*</include>
                <include>it/polimi/ingsw/exceptions/*</include>
            </includes>
        </fileSet>
        <fileSet>
            <directory>src/main/resources</directory>
            <outputDirectory>./</outputDirectory>
            <includes>
                <include>*.json</include>
            </includes>
        </fileSet>
        <fileSet>
            <directory>${project.build.sourceDirectory}/src</directory>
            <useDefaultExcludes>true</useDefaultExcludes>
        </fileSet>
    </fileSets>
</assembly>